%ul.breadcrumb
  -unless @week.to_i < 2
    %li
      %a{href: "/?week=#{@week.to_i - 1}"}
        %i.fa.fa-long-arrow-left
  %li
    %span="Week #{@week.to_i}"
  %li
    %a{href: "/?week=#{@week.to_i + 1}"}
      %i.fa.fa-long-arrow-right
-if @tips.empty?
  %h1="There are no tips yet for week #{@week}"
-else
  %h1="Payouts"
%table.table
  %thead
    %tr
      %th{scope: :col} Status
      %th{scope: :col} Number of tips
      %th{scope: :col} Return
  %tbody
    %tr
      %th{scope: :row} Total
      %td=@results[:total]
      %td=sprintf('$%.2f',@results[:t_return])
    %tr
      %th{scope: :row} Still alive
      %td=@results[:possible]
      %td=sprintf('$%.2f',@results[:p_return])
    %tr
      %th{scope: :row} Acutal win
      %td=@results[:success]
      %td=sprintf('$%.2f',@results[:s_return])
%h1 Tip Detail
%table.table.tablesorter
  %thead
    %tr
      %th{scope: :col} Link
      %th{scope: :col} Week
      %th{scope: :col} Tipper
      %th{scope: :col} Sport
      %th{scope: :col} Match
      %th{scope: :col} Odds
      %th{scope: :col} Time
      %th{scope: :col} Successful?
      %th{scope: :col} Modify
  %tbody
    -@tips.compact.each do |tip|
      -seconds_to_match = tip.matchtime - Time.now rescue 2397600
      -row_class = tip.successful ? 'success' : tip.successful.nil? ? 'default' : 'danger'
      %tr{class: row_class}
        %th{scope: :row}
          %a{href: "/tip/#{tip.id}"}
            %i.fa.fa-money
        %td=tip.tippingweek
        %td=tip.user
        %td=tip.sport
        %td=tip.description
        %td=sprintf('$%.2f', tip.odds.to_f)
        %td=(seconds_to_match < 0 ? 'Complete' : sprintf('%.0f hours', seconds_to_match / 3600))
        -if tip.successful == nil
          %td
            %a{href:"/tip/#{tip.id}/success"}
              %i.fa.fa-thumbs-up
            |
            %a{href:"/tip/#{tip.id}/smashed"}
              %i.fa.fa-thumbs-down
        -else
          %td=tip.successful ? 'Win' : 'Lose'
        -if tip.deleted?
          %td
            %i.fa.fa-bomb
        -elsif tip.locked?
          %td
            %i.fa.fa-lock
        -else
          %td
            %a{href:"/tip/#{tip.id}/lock"}
              %i.fa.fa-lock

            %a{href:"/tip/#{tip.id}/edit"}
              %i.fa.fa-wrench

            %a{href:"/tip/#{tip.id}/delete"}
              %i.fa.fa-bomb
